# ignore secrets keep secrets example
.secrets*
!.secrets-example

# certifiticates
*.pem
*.crt
*.cer
*.key
certs
letsencrypt
.acme.sh

# python
.venv*
__pycache__

# local env
.DS_Store
.ackrc
zappa*