# user-friendly way to send HTTP requests
# requests
urllib3

# python microframework
Flask

# Use in dev for live changes.
watchfiles

# WSGI HTTP Server for UNIX.
gunicorn

# database connection layer
psycopg2

# battle-hardened OIDC library 
oauthlib

# user session management
flask-login

# helpers for datetime formatting
humanize
datetime

# deployment with zappa
zappa

# formatter, linters, you know, bug avoidance
black
flake8
