# user-friendly way to send HTTP requests
# requests
urllib3

# python microframework
Flask

# database connection layer
psycopg2

# battle-hardened OIDC library 
oauthlib

# quick way to enable running securely with https locally
pyOpenSSL
Flask-SSLify

# user session management
flask-login

# helpers for datetime formatting
humanize
datetime

# deployment with zappa
zappa

# formatter, linters, you know, bug avoidance
black
flake8
