/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: steelblue;
}

a:hover {
	color: #0FA0CE;
}

abbr {
	color: #bbb;
}

form#search input[name="q"],
form#search input[name="q"]::placeholder {
	color: #666;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #fff;
	background-color: steelblue;
	border-color: steelblue;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form#search {
	margin: 1.6em 0 0 0;
}

form#search input[name="q"],
form#search input[type="submit"] {
	border: 0;
	border-radius: 6px;
	font-size: 3.2em;
	min-height: 2em;
	text-align: center;
}

li {
	margin-bottom: 0.2rem;
}

a.edit,
a.del {
	text-decoration: none;
}

abbr.date {
	border: 0;
	text-decoration: none;
	font-size: .8em;
}

abbr.date::after {
	content: " ";
}