/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: steelblue;
}

a:hover {
	color: #0FA0CE;
}

abbr {
	color: #bbb;
}

form#search input[name="q"],
form#search input[name="q"]::placeholder {
	color: #666;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #fff;
	background-color: steelblue;
	border-color: steelblue;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form#search input[name="q"] {
	margin: .8em 0 0 0;
	border: 0;
	border-radius: 6px;
	font-size: 3.2em;
	min-height: 2em;
	text-align: center;
}

/* Other
–––––––––––––––––––––––––––––––––––––––––––––––––– */
li {
	margin-bottom: 0.2rem;
}

a.edit,
a.del {
	text-decoration: none;
}

a#next {
	position: absolute;
	right: 0;
}

abbr.date {
	border: 0;
	text-decoration: none;
	font-size: .8em;
}

abbr.date::after {
	content: " - ";
}

nav a {
	text-decoration: none;
}

nav.list {
	display: inline-block;
	height: 2em;
	width: 100%;
}

