/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("//fonts.googleapis.com/css?family=Merriweather:300,400,600");
@import url("//fonts.googleapis.com/css?family=Literata:300,400,600");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
	font-family: 'Open Sans',
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
form#search input[name="q"],
form#search input[name="q"]::placeholder {
	font-family: 'Merriweather',
		serif;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: steelblue;
}

a:hover {
	color: #0FA0CE;
}

abbr,
abbr a,
.tag-count {
	color: #bbb;
}

.current {
	border: 1px solid #ddd;
}

form#search input[name="q"],
form#search input[name="q"]::placeholder {
	color: #666;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #fff;
	background-color: steelblue;
	border-color: steelblue;
}

body.delete input[type="submit"].button-primary {
	background-color: black;
	border-color: black;
}

.delete.button:hover,
.delete.button:focus,
body.delete input[type="submit"].button-primary:hover,
body.delete input[type="submit"].button-primary:focus {
	background-color: firebrick;
	border-color: firebrick;
	color: whitesmoke;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form#search input[name="q"] {
	margin: .8em 0 0 0;
	border: 0;
	border-radius: 6px;
	font-size: 3.2em;
	min-height: 2em;
	text-align: center;
}

form .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1.2rem;
	height: 3rem;
	line-height: 3rem;
}

body.add label a,
body.edit label a {
    padding: 0;
    margin: 1.5%;
    font-size: 2em;
}

/* Get flexible!
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	height: 100%;
}

body.callback,
body.index {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
}

body.callback .content,
body .header {
	text-align: center;
	width: 100%;
}

body .footer {
	text-align: center;
}

/* Hero Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#previous,
#next {
	visibility: hidden;
}

#previous svg,
#next svg {
	visibility: visible;
	width: 1.5em;
	height: 1.5em;
}

svg {
	width: 1em;
	height: 1em;
	color: rgb(138, 138, 138);
	vertical-align: middle;
}

/* Other
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: none;
}

ul.tags {
	columns: 6;
	list-style-type: none;
}

li {
	margin-bottom: 0.5rem;
	padding: .2em;
}

/* body.latest ul.list li.item {
	max-height: 1.6em;
	overflow: hidden;
} */

.current {
	border-radius: .5em;
}

a.edit,
a.delete {
	text-decoration: none;
}

a#next {
	position: absolute;
	right: 0;
}

abbr.date,
abbr a {
	border: 0;
	text-decoration: none;
	font-size: .9em;
}

nav a {
	text-decoration: none;
}

nav.list,
nav.tag-list {
	display: inline-block;
	height: 2em;
	width: 100%;
}

a.link:focus-visible {
	font-weight: bold;
	outline: none;
}

/* Endpoint-specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.index .content,
body.index .footer,
body.add .header .main,
body.edit .header .main,
body.callback .header,
body.callback .footer,
body.link .header,
body.link .footer,
body.delete .header,
body.delete .footer {
	display: none;
}

body.delete h1 {
	font-size: 7rem;
}

body.delete,
body.link {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}

body.delete>div,
body.link>div {
	width: 100%;
}

body.delete .list,
body.delete .list li {
	margin: 0;
	padding: 0;
}

#add textarea,
#edit textarea {
	min-height: 8em;
}

@media (max-width: 1000px) {
	html {
		font-size: 150%;
	}

	.six.columns {
		width: 100%;
		margin-left: 0;
	}

	form#search input[name="q"] {
		font-size: 2em;
	}

	textarea,
	input[type="text"] {
		font-size: 2rem;
		line-height: 3rem;
		height: 4rem;
	}

	#add textarea,
	#edit textarea {
		min-height: 6em;
	}

	#edit textarea[name="title"] {
		min-height: 4em;
	}

	.container {
		width: 95%;
	}

	ul.tags {
		columns: 3;
	}

	li {
		line-height: 1.5em;
		max-height: 4em;
		overflow: hidden;
	}

	body.latest .header .main,
	body.search .header .main,
	body.s .header .main,
	.content nav br,
	.item .delete,
	abbr {
		display: none;
	}

	.item .edit {
		padding-right: 1em;
	}
}