/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: steelblue; 
}

a:hover {
  color: #0FA0CE; 
}

abbr {
	color: #bbb;
}

form#search input[name="q"], form#search input[type="submit"], ::placeholder, 
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
	background: gainsboro;
	border-color: gainsboro;
	color: darkslategray;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
	color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}

a.edit, a.del {
	color: lightgray;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form#search {
	text-align: center;
}

form#search input[type="submit"] {
	position: relative;
	left: -10px;
}

form#search input[name="q"], form#search input[type="submit"] {
	border: 0;
	border-radius: 5px;
	font-size: 1.4em;
	padding: 1.2em;
	text-transform: none;
	vertical-align: middle;
}

li {
	margin-bottom: 0.3rem;
}

a.edit, a.del {
	font-size: .8em;
	text-decoration: none;
}
