{% if searchterm %}
{% set searchform_value = searchterm %}
{% elif tag_name %}
{% set searchform_value = 'tag:'+tag_name %}
{% elif link_id_string %}
{% set searchform_value = 'edit:'+link_id_string %}
{% elif link_id %}
{% set searchform_value = '{}:{}'.format('link', link_id) %}
{% endif %}
<form id="search" action="/search" method="GET" role="search">
    <input id="q" name="q" class="u-full-width" maxlength="2048" type="text" aria-autocomplete="both"
        aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" role="combobox"
        spellcheck="false" title="Search" aria-label="Search" placeholder="{{ searchform_placeholder }}" tabindex="0"
        value="{{ searchform_value }}">
    <!-- <input class="button-primary" type="submit" tabindex="1" value="Search"> -->
</form>