{% extends 'base.html' %}

{% block content %}
{% if links %}
<h5 title="{{ defragged[:-1] }}" style="text-align: center; color: tomato;">Wait… are you adding a duplicate?</h5>
{% include 'includes/list.html' %}
{% endif %}
<form id="add" action="{{ url_for('add') }}" method="post">
    <fieldset>
        <label for="title" class="placeholder active">Title</label>
        <input class="u-full-width" type="text" name="title" tabindex="5" autofocus=""
            value="{{ request.args.get('title', '') }} {%if len(request.args)>4 %}&{{ list(request.args)[2] }}{% endif %}" required>
        <label for="url" class="placeholder ">Link</label>
        <input class="u-full-width" type="text" name="url" id="url" tabindex="6" class="av-password"
            value="{{ request.args.get('url', '') }}">
        <label for="description" class="placeholder">Description</label>
        <textarea class="u-full-width" name="description" id="description"
            tabindex="7">{{ request.args.get('desc', '') }}</textarea>
        <label for="tags" class="placeholder ">Tags</label>
        <input class="u-full-width" type="text" name="tags" id="tags" tabindex="8" class="av-password"
            value="{{ request.args.get('tags', '') }}">
        <input class="button-primary" type="submit" tabindex="9" value="Add">
    </fieldset>
</form>
<!-- 
<ul>
    {% for link in links %}
    <li>
        {% if current_user.is_authenticated %}
        <a class="edit" href="#">✎</a>
        {% endif %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {{ link.description }}
    </li>
    {% endfor %}
</ul>
 -->
{% endblock %}