{% extends 'base.html' %}

{% block content %}
{% if links %}
<h5 title="{{ defragged[:-1] }}" style="text-align: center; color: tomato;">Wait… are you adding a duplicate?</h5>
{% include 'includes/list.html' %}
{% endif %}
<form id="add" action="{{ url_for('add') }}" method="post">
    <fieldset>
        <label for="title" class="placeholder active">Title</label>
        <input class="u-full-width" type="text" name="title" tabindex="5" autofocus=""
            value="{{ request.args.get('title', '') }} {%if len(request.args)>4 %}&{{ list(request.args)[2] }}{% endif %}"
            required>
            <label for="url" class="placeholder ">Link <br>
                <a href="{{ request.args.get('url', '') }}">🔗</a>
                <a id="remove-querystring" title="keyboard shortcut c x" onclick="
                    javascript:document.forms.add.url.select();
                    document.forms.add.url.setSelectionRange(0, 99999);
                    document.forms.add.url.value = document.forms.add.url.value.split('?')[0];
                    navigator.clipboard.writeText(document.forms.add.url.value);
                    ">🙅‍♀️</a>
                <a id="copy-link" title="keyboard shortcut c u" onclick="
                    javascript:document.forms.add.url.select();
                    document.forms.add.url.setSelectionRange(0, 99999);
                    navigator.clipboard.writeText(document.forms.add.url.value);
                    ">💇🏼‍♀️</a>
                <a id="copy-title-and-link" title="keyboard shortcut c s" onclick="
                    (function() {
                        let title = document.forms.add.title.value.trim();
                        let url = document.forms.add.url.value;
                        navigator.clipboard.writeText(title + ' \n' + url);
                    })();
                    ">💁‍♀️</a>
                <a id="copy-description-and-link" title="keyboard shortcut c d" onclick="
                    (function() {
                        let url = document.forms.add.url.value;
                        let description = document.forms.add.description.value.trim();
                        navigator.clipboard.writeText(description + ' \n' + url);
                    })();
                    ">🙋🏼‍♀️</a>
                <a id="copy-title-and-description" title="keyboard shortcut c y" onclick="
                    (function() {
                        let title = document.forms.add.title.value.trim();
                        let description = document.forms.add.description.value;
                        let output = title;
                        if (description !== '') { output += '\n\n' + description}
                        navigator.clipboard.writeText(output);
                    })();
                    ">🤦‍♀️</a>
                <a id="copy-all" title="keyboard shortcut c c" onclick="
                    (function() {
                        let title = document.forms.add.title.value.trim();
                        let url = document.forms.add.url.value;
                        let description = document.forms.add.description.value;
                        let output = title + ' \n' + url;
                        if (description !== '') { output += '\n\n' + description}
                        navigator.clipboard.writeText(output);
                    })();
                    ">🙆🏼‍♀️</a>
            </label>
        <textarea class="u-full-width" name="url" id="url" tabindex="6">{{ request.args.get('url', '') }}</textarea>

        <label for="description" class="placeholder">Description</label>
        <textarea class="u-full-width" name="description" id="description"
            tabindex="7">{{ request.args.get('desc', '') }}</textarea>
        <label for="tags" class="placeholder ">Tags</label>
        <input class="u-full-width" type="text" name="tags" id="tags" tabindex="8" class="av-password"
            value="{{ request.args.get('tags', '') }}">
        <input class="button-primary" type="submit" tabindex="9" value="Add">
    </fieldset>
</form>
<!-- 
<ul>
    {% for link in links %}
    <li>
        {% if current_user.is_authenticated %}
        <a class="add" href="#">✎</a>
        {% endif %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {{ link.description }}
    </li>
    {% endfor %}
</ul>
 -->
{% endblock %}