<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    {% if 'aws' not in db_host %}<meta name="carrots" content=" {{ db_host }}">{% endif %}
    <title>{{ searchform_placeholder }}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/🌱">
    <!-- {% set header_font = "Merriweather" %}
    {% set body_font = 'Open Sans' %}
    <link href="https://fonts.googleapis.com/css?family={{ header_font }}:300,400,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family={{ body_font }}:300,400,600" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/mousetrap.v1.6.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mousetrap-global-bind.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard-shortcuts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dev-notice.js') }}"></script>
</head>

<body class="{{request.endpoint}}">
    <div class="section header">
        <div class="container">
            {% include 'includes/form.html' %}
            {% include 'includes/nav.html' %}
        </div>
    </div>
    <div class="section content">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </div>
    <div class="section footer">
        <div class="container">
            {% include 'includes/nav.html' %}
        </div>
    </div>
</body>

</html>