<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block myblockname %}{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Inter:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="section header">
    <div class="container">
        <!-- <h1>{{ context_name_for_sheri }}</h1> -->
        {% include 'includes/searchform.html' %}
        {% include 'includes/nav.html' %}
    </div>
</div>
<div class="section content">
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</div>
<div class="section footer">
    <div class="container">
        {% include 'includes/nav.html' %}
    </div>
</div>
</body>
</html>