{% extends 'base.html' %}

{% block content %}
{% if links %}
{% set link = links[0] %}
<form id="edit" action="" method="post">
    <fieldset>
        <label for="title" class="placeholder active">Title</label>
        <textarea class="u-full-width" name="title" tabindex="5" required>{{ link.title }}</textarea>
        <label for="url" class="placeholder ">Link 
            <a href="{{ link.url }}">🔗</a>
            <a id="remove-querystring" title="keyboard shortcut c r" onclick="
                javascript:document.forms.edit.url.select();
                document.forms.edit.url.setSelectionRange(0, 99999);
                document.forms.edit.url.value = document.forms.edit.url.value.split('?')[0];
                navigator.clipboard.writeText(document.forms.edit.url.value);
                ">🙅‍♀️</a>
            <a id="copy-link" title="keyboard shortcut c l" onclick="
                javascript:document.forms.edit.url.select();
                document.forms.edit.url.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(document.forms.edit.url.value);
                ">💁‍♀️</a>
            <a id="copy-title-and-link" title="keyboard shortcut c c" onclick="
            (function() {
                let title = document.forms.edit.title.value.trim();
                let url = document.forms.edit.url.value;
                navigator.clipboard.writeText(title + ' ' + url);
            })();
            ">🙆‍♀️</a>
            <a id="copy-all" title="keyboard shortcut c d" onclick="
            (function() {
                let title = document.forms.edit.title.value.trim();
                let url = document.forms.edit.url.value;
                let description = document.forms.edit.description.value;
                navigator.clipboard.writeText(title + ' ' + url + ' ' + description);
            })();
            ">🤨</a>
        </label>
        <textarea class="u-full-width" name="url" id="url" tabindex="6">{{ link.url }}</textarea>
        <div class="row">
            <div class="six columns">
                <label for="description" class="placeholder">Description</label>
                <textarea class="u-full-width" name="description" id="description"
                    tabindex="7">{{ link.description }}</textarea>
            </div>
            <div class="six columns">
                <label for="tags" class="placeholder ">Tags</label>
                <input class="u-full-width" type="text" name="tags" id="tags" tabindex="8" class="av-password"
                    value="{{ tags }}">
                <div class="buttons-container">
                    <a id="delete" class="delete button" tabindex="10"
                        href="{{ url_for('delete', link_id=link.id) }}">Delete</a>
                    <input class="button-primary" type="submit" tabindex="9" value="Save">
                </div>
            </div>
        </div>
    </fieldset>
</form>
{% include 'includes/link-meta.html' %}
{% else %}
<p>Link {{link_id}} was not found.</p>
{% endif %}
{% endblock %}