{% extends 'base.html' %}

{% block content %}
<nav class="list">
    <p>
        {% if page > 1 %}
        <a id="previous" href="{{ request.path }}?q={{searchterm}}&limit={{ limit }}&page={{ page-1 }}">previous</a>
        {% endif %}
        {% if limit * page < total %} <a id="next"
            href="{{ request.path }}?q={{searchterm}}&limit={{ limit }}&page={{ page+1 }}">next</a>
            {% endif %}
    </p>
</nav>
{% include 'includes/list.html' %}
<p><small>Found {{total}} result{% if total > 1 %}s{% endif %} for
        '{% if tag_name %}tag:{{tag_name}}{% endif%}{{searchterm}}'.</small>
</p>
{% endblock %}